{
    "Version": "2012-10-17",
    "Statement": [
        {
            
            "Effect": "Allow",
            "Action": "s3:Get*",
            "Resource": "arn:aws:s3:::fca-edw-data-dev/landing/*"
        },
        {
            
            "Effect": "Allow",
            "Action": [
                "s3:Get*",
                "s3:Put*"
            ],
            "Resource": "arn:aws:s3:::fca-edw-data-dev/ods/*"
        },
        {
            
            "Effect": "Allow",
            "Action": [
                "glue:GetConnections",
                "glue:GetCrawler",
                "glue:GetCrawlers",
                "glue:GetClassifiers",
                "glue:DeleteDatabase",
                "glue:GetTableVersions",
                "glue:GetPartitions",
                "glue:DeleteTable",
                "glue:GetDevEndpoint",
                "glue:GetCatalogImportStatus",
                "glue:GetConnection",
                "glue:GetTrigger",
                "glue:GetUserDefinedFunction",
                "glue:GetJobRun",
                "glue:CreatePartition",
                "glue:GetUserDefinedFunctions",
                "glue:GetClassifier",
                "glue:UpdatePartition",
                "glue:UpdateDatabase",
                "glue:CreateTable",
                "glue:GetJobs",
                "glue:GetTables",
                "glue:GetTriggers",
                "glue:BatchGetPartition",
                "glue:GetDatabases",
                "glue:GetTable",
                "glue:GetDatabase",
                "glue:GetMapping",
                "glue:GetPartition",
                "glue:GetDevEndpoints",
                "glue:GetDataflowGraph",
                "glue:CreateDatabase",
                "glue:GetPlan",
                "glue:GetCrawlerMetrics",
                "glue:DeletePartition",
                "glue:GetJob",
                "glue:GetJobRuns"
            ],
            "Resource": "*"
        },
        {
            
            "Effect": "Allow",
            "Action": "s3:List*",
            "Resource": "arn:aws:s3:::fca-edw-data-dev/landing/*"
        },
        {
            
            "Effect": "Allow",
            "Action": "s3:List*",
            "Resource": "arn:aws:s3:::fca-edw-data-dev/ods/*"
        }
    ]
}
